/* ABOUT */

.skill {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding: 2em;
}

.skill img {
	border-radius: 20px;
}

.about--container {
	padding: 2em;
	max-width: 800px;
	margin: auto;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about img {
	width: 200px;
	margin: 1em;
}

.skill--container h4 {
	text-align: center;
	font-size: 1.5em;
	margin: 2em;
}
