/* FOOTER */

.footer {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #84329b;
	background: radial-gradient(#84329b, #9d3cb8);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.links--footer > * {
	margin: 20px;
}

.links--footer > *:hover {
	color: #ccc;
}

.links--footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}

/* REDES */

.redes--container {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.redes--container ul li {
	display: inline-block;
}

.redes--item {
	width: 40px;
	margin: 0 10px;
}

.redes--item:hover {
	filter: brightness(10%);
	transition: 0.2s;
}
