/* FORMULARIO */

.form__main--container {
	background: radial-gradient(#202020, #161616);
	width: 100%;
	padding: 20px;
}

.form--container {
	display: flex;
	flex-direction: column;
}

.form__main--container h4 {
	text-align: center;
	margin: 1em 0;
	font-size: 1.5em;
}

.form__main--container h5 {
	text-align: center;
	margin: 20px 0 40px 0;
	font-size: 1.5em;
}

.info__form--container {
	background-color: #000000;
	padding: 30px;
}

.info__form--container li {
	margin: 20px 0px;
	display: block;
}

.info__form--container li span {
	padding: 10px;
}

.p--form {
	margin: 40px 0;
}

.form {
	background: radial-gradient(#84329b, #923baa);
	padding: 10px;
}

.input__form--container {
	display: grid;
	grid-template-columns: 1fr;
}

textarea {
	resize: none;
	overflow: auto;
	height: 200px;
}

.input--form {
	padding: 10px;
	margin: 10px;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	outline: none;
}

.input--form::placeholder {
	color: #fff;
}

.input--form:focus {
	border-bottom: 3px solid #00c843;
}

.btn--form {
	padding: 10px;
	margin: 10px;
	border: none;
	outline: none;
	background-color: #00c843;
	text-transform: uppercase;
	cursor: pointer;
}

.btn--form:hover {
	background-color: #00832c;
	transition: 0.5s;
}
