.nav {
	nav {
		margin: auto;
		height: 80px;
		width: 1803px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.nav__links {
			display: flex;
			justify-content: space-between;
			padding: 0;
			width: 269px;
		}

		.nav__icon {
			width: 41px;
		}

		.nav__btn {
			display: none;
		}
	}
}
