/* SLIDER */

.title--slider {
	margin-top: 100px;
}

.slider--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 100px;
}

.slides input {
	display: none;
}

.slider {
	width: 350px;
	height: 350px;
	overflow: hidden;
	margin-bottom: 30px;
}

.slides {
	display: flex;
	width: 500%;
	height: 350px;
}

.slide {
	width: 20%;
	transition: 1s;
}

.slide img {
	width: 350px;
	height: 350px;
}

.manual--navigation {
	position: absolute;
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.manual--btn {
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 100px;
	cursor: pointer;
	transition: 1s;
	margin: 10px;
}

.manual--btn:hover {
	background: #fff;
	transition: 0.5;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -20%;
}

#radio3:checked ~ .first {
	margin-left: -40%;
}

#radio4:checked ~ .first {
	margin-left: -60%;
}

.auto--navigation {
	position: absolute;
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.auto--navigation div {
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 100px;
	cursor: pointer;
	transition: 1s;
	margin: 10px;
}

#radio1:checked ~ .auto--navigation .auto__btn--1 {
	background: #fff;
}

#radio2:checked ~ .auto--navigation .auto__btn--2 {
	background: #fff;
}

#radio3:checked ~ .auto--navigation .auto__btn--3 {
	background: #fff;
}

#radio4:checked ~ .auto--navigation .auto__btn--4 {
	background: #fff;
}
