<!DOCTYPE html>
<html lang="es">
<head>
    <!-- HEAD -->
    <%- include("./partials/head.html"); %>
</head>
<body>
    
    <!-- NAVEGACION -->

    <%- include("./partials/nav.html"); %>

    <!-- ABOUT -->

    <div class="about--container animate__animated animate__fadeInDownBig">
        <div class="about">
            <img src="/SVG/logo--caja.svg" alt="">

            <h3>Nos encanta nuestro trabajo</h3>

            <p>Witsite es un equipo especializado en el desarrollo web, nuestra ética de trabajo se basa en el respeto y la confianza. Nuestros clientes son lo más importante, por eso nos esforzamos en darles un servicio profecional y de confianza.</p>
        </div>
    </div>

    <div class="skill--container animate__animated animate__fadeInDownBig">
        <h4>Algunas de nuestras habilidades</h4>
        <div class="skill">
            <img src="/SVG/html.svg" alt="">
            <img src="/SVG/css.svg" alt="">
            <img src="/SVG/js.svg" alt="">
            <img src="/SVG/node.svg" alt="">
            <img src="/SVG/git.svg" alt="">
            <img src="/SVG/illustrator.svg" alt="">
        </div>
    </div>





    <!-- FOOTER -->

    <%- include("./partials/footer.html"); %>

</body>
</html>