<!DOCTYPE html>
<html lang="es">
<head>
    <!-- HEAD -->
    <%- include("./partials/head.html"); %>
</head>
<body>

    <!-- NAVEGACION -->

    <%- include("./partials/nav.html"); %>

    <!-- BUDGET -->

    <div class="budget">
        <div class="budget--container animate__animated animate__fadeInDown">

            <img src="/SVG/logo--caja.svg" alt="" class="img__cohete--budget">

            <div class="budget--head">
                <h3>Háblanos de tu proyecto</h3>

                <p>Si estás aquí significa que quieres darle a tu empresa presencia en la web, rellena el formulario para que podamos entender mejor como funciona tu proyecto y saber que enfoque debemos darle, solo te tomará unos minutos.<br><br><span>¿Comenzamos?</span></p>
            </div>

        </div>
        
        <form action="/send-budget" method="POST">

            <div class="budget--item">
                <h6>¿Cómo te llamas?</h6>
                <p>Dinos tu nombre para poder referirnos a ti</p>
                <div class="budget--input">

                    <input type="text" name="input9">

                </div>

            </div>

            <div class="budget--item">
                <h6>Necesitamos tu dirección de correo electronico para poder contactarte</h6>
                <div class="budget--input">

                    <input type="text" name="input10">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿De qué se trata tu proyecto?</h6>
                <p>Explicanos brevemente cuál es la finalidad de tu negocio o empresa y que tipo de producto o servicio ofrece.</p>
                <div class="budget--input">

                    <input type="text" name="input1">

                </div>

            </div>

            <div class="budget--item">
                <h6>¿Tu proyecto tiene un nombre?</h6>
                <p>Escribe el nombre de tu proyecto. En caso de que no tenga un nombre, deje esta casilla en blanco</p>
                <div class="budget--input">

                    <input type="text" name="input2">

                </div>
            </iv>

            <div class="budget--item">
                <h6>¿Tu proyecto tiene un logo?</h6>
                <div class="budget--input">

                    <input type="text" name="input3">

                </div>
            </div

            <div class="budget--item">
                <h6>¿Tu proyecto tiene una identidad visual?</h6>
                <p>Recuerda que el logo es solo una parte de la identida visual. Los colores, patrones, estampados, ilustraciones y otros elementos característicos que representen a tu proyecto ante el público, también son parte de la identidad visual.</p>
                <div class="budget--input">

                    <input type="text" name="input4">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Tu proyecto dispone de redes sociales?</h6>
                <p>Si es así, adjunta los enlaces aquí.</p>
                <div class="budget--input">

                    <input type="text" name="input5">

                </div
            </div>

            <div class="budget--item">
                <h6>¿Qué crees que le puede aportar un sitio web a tu empresa?</h6>
                <div class="budget--input">

                    <input type="text" name="input6">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Cual es el objetivo principal de tu sitio web?</h6>
                <p>Un sitio web puede tener distintos objetivos. Informar sobre un servicio, vender un producto o servir como una red social, son algunos de los objetivos que puede tener</p>
                <div class="budget--input">

                    <input type="text" name="input7">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Cuántos empleados va a tener o tiene tu proyecto, negocio y/o servicio?</h6>
                <div class="budget--input">

                    <input type="text" name="input8">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Tu negocio o empresa tiene algún tipo de filosofía o valores que quieras recalcar?</h6>
                <div class="budget--input">

                    <input type="text" name="input11">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Qué diferencia a tu proyecto, negocio y/o servicio de los demás?</h6>
                <p>¿Tu proyecto tiene algún factor diferenciador que lo haga resaltar entre los demás?</p>
                <div class="budget--input">

                    <input type="text" name="input12">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Cómo nos has conocido?</h6>
                <div class="budget--input">

                    <input type="text" name="input13">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿De qué país nos contactas?</h6>
                <div class="budget--input">

                    <input type="text" name="input14">

                </div>
            </div>


            <div class="budget--item">
                <h6>¿Tenemos alguna fecha límite?</h6>
                <div class="budget--input">

                    <input type="date" name="input16">

                </div>
            </div>

            <div class="budget--item">
                <h6>¿Hay algo más que quieras decirnos?</h6>
                <div class="budget--input">

                    <input type="text" name="input17">

                </div>
            </div>
            </div>


            <div class="butget--submit">
                <button type="submit">Enviar</button>
            </div>
            
        </form>

    </div>

    <!-- FOOTER -->

    <%- include("./partials/footer.html"); %>

</body>
</html>