<!DOCTYPE html>
<html lang="es">

<head>
  <!-- HEAD -->
  <%- include("./partials/head.html"); %>
</head>

<body>

  <div class="container">

    <!-- NAVEGACION -->

    <%- include("./partials/nav.html"); %>





    <!-- HEADER -->

    <div class="header--container">

      <header>
        <img src="/SVG/logo--caja.svg" alt="">

        <div class="header__info--container">

          <div class="btn">
            <a href="#">CONTACTANOS</a>
          </div>

          <h1>¿Tu negocio está iniciando? ¿Quieres expandir tu marca? En <b>WITSITE</b> tenemos la página web ideal para ti.</h1>

        </div>
      </header>

    </div>





    <!-- FONDO DE PROYECTOS -->

    <div class="fondo__proyectos1" id="proyectos"></div>
    <div class="fondo__proyectos2"></div>

    <!-- PROYECTOS -->

    <div class="content__main--container">

      <h2 class="proyectos--title">Proyectos</h2>


      <article class="content--container">
        <section>
          <img src="/images/ilustracion--1.png" class="content--item" alt="">
          <h3>Illustración</h3>
        </section>

        <section>
          <img src="/images/ilustracion--2.png" class="content--item" alt="">
          <h3>Illustración</h3>
        </section>

        <section>
          <img src="/images/ilustracion--3.png" class="content--item" alt="">
          <h3>Illustración</h3>
        </section>

        <section>
          <img src="/images/ilustracion--1.png" class="content--item" alt="">
          <h3>Illustración</h3>
        </section>
      </article>

    </div>





    <!-- SERVICIOS -->

    <div class="content__main--container2" id="servicios">
      <div class="content__main--container3">

        <h2 class="servicios--title">Servicios</h2>


        <article class="content--container content--container__movil">
          <section>
            <img src="/images/servicios--1.png" class="content--item" alt="">
            <h3>Diseño de Videjuegos</h3>
          </section>

          <section>
            <img src="/images/servicios--2.png" class="content--item" alt="">
            <h3>Desarrollo de Aplicaciones</h3>
          </section>

          <section>
            <img src="/images/servicios--3.png" class="content--item" alt="">
            <h3>Illustración Digital</h3>
          </section>

          <section>
            <img src="/images/servicios--4.png" class="content--item" alt="">
            <h3>Desarrollo Web</h3>
          </section>
        </article>

      </div>
    </div>





    
    <!-- FOOTER -->

    <%- include("./partials/footer.html"); %>






  <!-- Scroll Reveal -->
  <!-- <script src="https://unpkg.com/scrollreveal"></script>
  <script src="index.js"></script> -->

  </div>

</body>
</html>