<header>
    <div class="header__info">
        <p class="header__title">De emprendedores<br><span>Para emprendedores</span></p>
        <p class="header__text">Nuestro equipo está especializado en el desarrollo de aplicaciones y sitios web. Actualmente es cada vez más importante que tu empresa, negocio o servicio tenga presencia en la web, para poder llegar a la mayor cantidad de personas de la manera más eficiente, por eso nosotros trabajamos para hacer un sitio web acorde a tus necesidades.</p>
        <a class="btn" href="/">
            contactanos
        </a>
    </div>

    <img src="/svg/logo.svg" alt="logo de witsite" class="header__logo">
</header>

<i class="bi bi-arrow-down-circle"></i>

<section class="carousel">
  <button aria-label="Anterior" class="carousel__back">
		<i class="bi bi-arrow-left-circle"></i>
	</button>

  <div class="glider">
    <div class="glider__item">
      <img src="/images/proyect1.png" alt="">
      <div class="proyect__info">
        <div class="proyect__number">01</div>
        <h6 class="proyect__name left">Louise’s Roses</h6>
        <p class="proyect__description left">Simple e intuitivo, queremos que incluso el usuario menos relacionado con la tecnología sea capaz de navegar por tu sitio web y entender fácilmente lo que quieres transmitir.</p>
        <ul class="proyect__links">
          <li><a href="https://github.com/CodeHxH/Roses_Store" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://louises-roses.herokuapp.com" target="_blank"><i class="bi bi-arrow-up-right-square"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="glider__item">
      <img src="/images/proyect2.png" alt="">
      <div class="proyect__info">
        <div class="proyect__number">02</div>
        <h6 class="proyect__name left">Notes app</h6>
        <p class="proyect__description left">Simple e intuitivo, queremos que incluso el usuario menos relacionado con la tecnología sea capaz de navegar por tu sitio web y entender fácilmente lo que quieres transmitir.</p>
        <ul class="proyect__links">
          <li><a href="https://github.com/CodeHxH/Notes-App" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://witsite-notes.herokuapp.com" target="_blank"><i class="bi bi-arrow-up-right-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <button aria-label="Siguiente" class="carousel__next">
		<i class="bi bi-arrow-right-circle"></i>
	</button>
</section>

<h3 class="title center">Mucho más que sitios web</h3>