<!DOCTYPE html>
<html lang="es">

<head>
  <!-- HEAD -->
  <%- include("./partials/head.html"); %>
</head>

<body>

  <!-- NAVEGACION -->

  <%- include("./partials/nav.html"); %>





  <div class="container">

    <!-- HEADER -->

    <div class="header--container">

      <header>

        <div class="logo--container">
        <img src="/SVG/logo--caja.svg" alt="" class="animate__animated animate__fadeInDown">
        </div>

        <div class="header__info--container">

          <h2>De emprendedores<br>Para emprendedores</h2>

          <p>Nuestro equipo está especializado en el desarrollo de aplicaciones y sitios web. Actualmente es cada vez más importante que tu empresa, negocio o servicio tenga presencia en la web, para poder llegar a la mayor cantidad de personas de la manera más eficiente, por eso nosotros trabajamos para hacer un sitio web acorde a tus necesidades.</p>
          
          <div class="btn--container">
            <div class="btn">
              <a href="#">Solicita tu presupuesto</a>
            </div>
          </div>

        </div>
      </header>

    </div>





    <!-- SITIOS WEB -->

    <article class="article--web">
      
      <h1 class="title">Más que sitios web</h1>

      <div class="info__main--container together">

        <img src="/SVG/cohete.svg" alt="" class="reveal img--cohete">

        <div class="info--container">
          <h3>Explora otras fronteras</h3>
          
          <p>Nos encanta probar cosas nuevas, nunca es un mal momento para innovar e invertir en el desarrollo de tu empresa. Actualmente las tiendas online, las aplicaciones y los sitios web son potentes herramientas para la comunicación, desarrollo y administración de tu empresa, pero sabemos que investigar y desarrollar este tipo de proyectos es bastante complejo y requiere de mucho tiempo, pero no hay problema, nosotros nos encargamos de todo el proceso para que directamente puedas ver los resultados.</p>
        </div>

      </div>


      <section>

        <div class="info__main--container">

          <img src="/SVG/megafono.svg" alt="" class="reveal img--megafono">

          <div class="info--container">
            <h3>Tu empresa no tiene límites</h3>

            <p class=" text-center">LLega a muchas más personas, obten una manera personalizada y más cómoda de informar a tus clientes sobre tus productos y servicios, un sitio web diseñado a tu gusto y adaptado a tus necesidades, y lo mejor de todo, cualquier persona puede entrar.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/plano.svg" alt="" class="reveal img--plano">

          <div class="info--container">
            <h3>A la medida de tu empresa</h3>

            <p class=" text-center">Sabemos que cada empresa tiene sus propias necesidades y objetivos. ¿Necesitas vender tus productos? ¿Requieres una mejor manera para comunicarte con tus clientes? ¿Quieres llegar a más personas? Para nosotros tu opinión es lo más importante, solo dinos lo que necesitas para poder progamar junto a ti el sitio web ideal.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/equipo.svg" alt="" class="reveal img--equipo">

          <div class="info--container">
            <h3>Mantenimiento</h3>

            <p class=" text-center">Nos gusta que las cosas salgan bien, por eso siempre estamos disponibles para solucionar cualquier dificultad técnica que se pueda presentar.</p>
          </div>

        </div>

      </section>

    </article>





    <!-- DISEÑO -->
    <!-- SLIDER -->

    <%- include("./partials/slider.html"); %>





    <!-- BRANDING -->

    <article class="article--branding">


      <h2 class="title">Identidad visual</h2>

      
      <div class="info__main--container together">

        <img src="/SVG/grua.svg" alt="" class="reveal img--grua">

        <div class="info--container">
          <h3>Crea tu marca</h3>

          <p>Si estás emprendiendo y aún no tienes una marca que represente a tu empresa, también podemos ayudarte. La identidad visual es una parte muy importante para toda empresa, es la carta de presentación que verán todos tus clientes, y de ella dependerá su valoración hacia tu producto o servicio.</p>
        </div>

      </div>


      <section>
        
        <div class="info__main--container">
          
          <img src="/SVG/diseñar.svg" alt="" class="reveal img--diseñar">
  
          <div class="info--container">
            <h3>El diseño también es importante</h3>
  
            <p class=" text-center">Un sitio web no es más que una extención de tu marca, y por eso aprovechamos al maximo la identidad visual para poder transmitir los objetivos de la empresa de manera sencilla, intuitiva y agradable. Un buen diseño en un sitio web marca la diferencia.</p>
          </div>
  
        </div>


        <div class="info__main--container">

          <img src="/SVG/muckup.svg" alt="" class="reveal img--muckup">

          <div class="info--container">
            <h3>Interfaz de usuario</h3>

            <p class=" text-center">Simple e intuitivo, queremos que incluso el usuario menos relacionado con la tecnología sea capaz de navegar por tu sitio web y entender fácilmente lo que quieres transmitir.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/flores.svg" alt="" class="reveal img--flores">

          <div class="info--container">
            <h3>Diseño e ilustración</h3>

            <p class=" text-center">Una imagen dice más que mil palabras, podemos hacer ilustraciones originales y exclusivas para tu empresa en formato vectorial, ilustraciones livianas que se adaptan a todos los tamaños sin perder calidad.</p>
          </div>

        </div>

      </section>

    </article>

  </div>





  <!-- FOOTER -->

  <%- include("./partials/footer.html"); %>


</body>
</html>