<!DOCTYPE html>
<html lang="es">

<head>
  <!-- HEAD -->
  <%- include("./partials/head.html"); %>
</head>

<body>

  <!-- NAVEGACION -->

  <%- include("./partials/nav.html"); %>





  <div class="container">

    <!-- HEADER -->

    <div class="header--container">

      <header>
        <img src="/SVG/logo--caja.svg" alt="" class="animate__animated animate__fadeInDown">

        <div class="header__info--container">

          <div class="btn">
            <a href="#">Solicita tu presupuesto</a>
          </div>

          <h3>¿Tu negocio está iniciando? ¿Quieres expandir tu marca? En <b>WITSITE</b> tenemos el sitio web ideal para ti.</h3>

        </div>
      </header>

    </div>





    <!-- SITIOS WEB -->

    <article class="article--web">


      <h1 class="title">Más que sitios web</h1>


      <div class="info__main--container">

        <img src="/SVG/cohete1.svg" alt="" class="reveal">

        <div class="info--container">
          <h3>Impulsa tu negocio</h3>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
        </div>

      </div>


      <section>

        <div class="info__main--container">

          <img src="/SVG/megafono.svg" alt="" class="reveal img--megafono">

          <div class="info--container">
            <h3>Date a conocer</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/cohete.svg" alt="" class="reveal">

          <div class="info--container">
            <h3>A la medida de tu empresa</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/equipo.svg" alt="" class="reveal img--equipo">

          <div class="info--container">
            <h3>Asesoria</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="btn--more">
          <a href="#">More</a>
        </div>

      </section>

    </article>





    <!-- DISEÑO -->

    <h2 class="title title--slider">Ilustraciones</h2>

    <!-- SLIDER -->

    <%- include("./partials/slider.html"); %>





    <!-- BRANDING -->

    <article class="article--branding">

      <div class="info__main--container">
        

        <h2 class="title">Branding</h2>
        

        <img src="/SVG/diseñar.svg" alt="" class="reveal img--diseñar">

        <div class="info--container">
          <h3>La imagen también es importante</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
        </div>

      </div>


      <section>

        <div class="info__main--container">

          <img src="/SVG/xd.svg" alt="" class="reveal img--xd">

          <div class="info--container">
            <h3>Crea tu marca</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/muckup.svg" alt="" class="reveal img--muckup">

          <div class="info--container">
            <h3>interfaz de usuario</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="info__main--container">

          <img src="/SVG/flores.svg" alt="" class="reveal img--flores">

          <div class="info--container">
            <h3>Diseño e ilustración</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit dui sed aliquet commodo. Ut congue urna tellus, sed varius lectus consequat a. Praesent malesuada rutrum varius. Etiam viverra, turpis eu condimentum dapibus, nibh nisi molestie velit, vel dignissim purus est in sapien. Etiam dignissim, metus vitae tempor fermentum, lectus ex rhoncus lorem, a elementum justo enim a eros. Praesent eu felis at dolor placerat vestibulum. Nullam nec quam malesuada, tempor felis quis, rhoncus magna. Proin ornare sit amet leo id varius. Nulla ut placerat lacus. Curabitur aliquam, elit non luctus maximus, massa urna consectetur ante, id vehicula turpis mauris ac nibh. Duis convallis est ac tincidunt mattis. Sed at tincidunt ligula.</p>
          </div>

        </div>


        <div class="btn--more">
          <a href="#">More</a>
        </div>


      </section>

    </article>

  </div>





  <!-- FOOTER -->

  <%- include("./partials/footer.html"); %>


</body>
</html>