<!DOCTYPE html>
<html lang="es">
<head>
    <!-- HEAD -->
    <%- include("./partials/head.html"); %>
</head>
<body>

    <!-- NAVEGACION -->

    <%- include("./partials/nav.html"); %>



    <div class="message--container">
        <div class="message animate__animated animate__slideInLeft">

            <img src="/SVG/logo--caja.svg" alt="" class="img__cohete--budget">

            <div class="message--info">
                <h2>Formulario enviado</h2>

                <p>Esperamos poder trabajar junto a ti. Tu solicitud de presupuesto ha sido recibida, te enviaremos un correo con tu presupuesto estimado y algunas observaciones sobre tu proyecto en las proximas 24 horas.</p>
                <br>
                <br>
                <p class="message--atte"><i>Atte.</i> el equipo de witsite.</p>
            </div>

            <div class="btn--more"><a href="/">Volver al inicio</a></div>
        </div>
    </div>

    <script src="main.js"></script>

</body>
</html>