{{!-- Footer --}}

<footer>
    <div class="footer__links">
        <a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
    <h5 class="footer__copy">Developed And Designed By <a href="#">Agustin R</a>. ©2021. All Rights Reserved.</h5>
</footer>