<!-- FOOTER -->

<div class="footer">

    <div class="links--footer">
        <a href="/">Inicio</a>
        <a href="/budget">Presupuesto</a>
        <a href="/#contacto">Contacto</a>
        <a href="/about">Sobre nosotros</a>
    </div>

    <div class="redes--container">
        <ul>

            <li><a href="https://github.com/CodeHxH" target="_blank"> <img src="/SVG/github.svg" class="redes--item" alt=""> </a></li>
            <li><a href="https://www.facebook.com/" target="_blank"> <img src="/SVG/facebook.svg" class="redes--item" alt=""> </a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"> <img src="/SVG/linkedin.svg" class="redes--item" alt=""> </a></li>

        </ul>
    </div>

</div>





<!-- COPYRIGHT -->

<div class="copyright">
    <footer>Developed And Designed By <b><a href="mailto:rodriguezjoseagustin31@gmail.com" target="_blank">Agustin R</a></b>. ©2021. All Rights Reserved.</footer>
</div>





<!-- NAV BAR -->
<script src="/main.js"></script>
