<!-- FOOTER -->

<div class="footer" id="contacto">

    <div class="form">
  
        <h4>¡Envianos un mensaje!</h4>
  
        <div>
            <input type="text" value="" class="input-form">
            <input type="text" value="" class="input-form">
            <input type="text" value="" class="input-form">
        </div>
  
        <input type="button" value="Enviar" class="input--form">
  
    </div>
  
</div>
  
    <!-- REDES -->
  
<div class="redes--container">
  
    <ul>
        <li><a href="https://github.com/CodeHxH" target="_blank"> <img src="/SVG/github.svg" class="redes--item" alt=""> </a></li>
        <li><a href="https://www.facebook.com/" target="_blank"> <img src="/SVG/facebook.svg" class="redes--item" alt=""> </a></li>
        <li><a href="https://www.linkedin.com/" target="_blank"> <img src="/SVG/linkedin.svg" class="redes--item" alt=""> </a></li>
    </ul>
  
</div>
  
<!-- COPYRIGHT -->
  
<div class="copyright">
    <footer>Developed And Designed By <b><a href="mailto:rodriguezjoseagustin31@gmail.com" target="_blank">Agustin R</a></b>. ©2021. All Rights Reserved.</footer>
</div>
