<!-- NAVEGACION -->

<div class="nav--container">

    <nav>
        <img src="/SVG/icon--nav.svg" alt="">

        <ul class="nav--menu">
            <li><a href="#servicios">Inicio</a></li>
            <li><a href="#contacto">Sitios web</a></li>
            <li><a href="#contacto">Branding</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#contacto">Presupuesto</a></li>
            <li><a href="#contacto">Sobre nosotros</a></li>
        </ul>

        <ul class="menu--btn">
            <li><i class="fas fa-bars fa-2x"></i></li>
        </ul>
    </nav>


</div>
