<!-- Navigation -->

<div class="nav">
	<nav>
		<a class="nav__icon" href="/about"><img src="/SVG/icon.svg" alt="" /></a>

		<ul class="nav__links">
			<li><a href="/">Home</a></li>
			<li><a href="/budget">Budget</a></li>
			<li><a href="/about">About</a></li>
		</ul>

		<ul class="nav__btn">
			<li><i class=""></i></li>
		</ul>
	</nav>
</div>
