<!-- NAVEGACION -->

<div class="nav--container">
	<nav>
		<a href="/about"><img src="/SVG/icon--nav.svg" alt="" /></a>

		<ul class="nav--menu">
			<li><a href="/">Inicio</a></li>
			<li><a href="/budget">Presupuesto</a></li>
			<li><a href="/#contacto">Contacto</a></li>
			<li><a href="/about">Sobre nosotros</a></li>
		</ul>

		<ul class="menu--btn">
			<li><i class="fas fa-bars fa-2x"></i></li>
		</ul>
	</nav>
</div>
