<div class="slider--container">

    <h2 class="title title--slider">Proyectos</h2>

    <div class="slider">
        <div class="slides">

            <input type="radio" name="radio__btn" id="radio1">
            <input type="radio" name="radio__btn" id="radio2">
            <input type="radio" name="radio__btn" id="radio3">
            <input type="radio" name="radio__btn" id="radio4">

            <div class="slide first">
                <img src="/images/ilustracion--3.png" alt="">
            </div>
            <div class="slide">
                <img src="/images/ilustracion--1.png" alt="">
            </div>
            <div class="slide">
                <img src="/images/ilustracion--2.png" alt="">
            </div>
            <div class="slide">
                <img src="/images/ilustracion--3.png" alt="">
            </div>

            <div class="auto--navigation">
                <div class="auto__btn--1"></div>
                <div class="auto__btn--2"></div>
                <div class="auto__btn--3"></div>
                <div class="auto__btn--4"></div>
            </div>

            <div class="manual--navigation">
                <label for="radio1" class="manual--btn"></label>
                <label for="radio2" class="manual--btn"></label>
                <label for="radio3" class="manual--btn"></label>
                <label for="radio4" class="manual--btn"></label>
            </div>

        </div>
    </div>
    
</div>
