/* VERSIÓN PARA TABLET */

@media screen and (min-width: 540px) {
	/* HEADER */

	header img {
		width: 250px;
	}

	.header__info--container {
		margin: 0 3em 3em 3em;
	}

	/* CONTENIDO */

	section {
		margin: 2em;
	}

	.info__main--container {
		margin: 0 3em 3em 3em;
	}

	/* FORMULARIO */

	.form {
		padding: 5px;
	}

	.input__form--container {
		grid-template-columns: repeat(2, 1fr);
	}

	.form--container {
		padding: 2em;
	}

	.block {
		grid-column: 1/3;
	}
}
