// Variables
$gray: #1f1f1f;
$white: #ffffff;
$error: #ca1517;
$succes: #47ad3b;

// Components
@import 'components/global';
@import 'components/nav';
@import 'components/header';
@import 'components/carousel';
@import 'components/cards';
@import 'components/call';
@import 'components/footer';
@import 'components/about';
// Responsive components
@import 'components/responsive.components/pc-small';
@import 'components/responsive.components/tablet';
@import 'components/responsive.components/phone';
@import 'components/responsive.components/phone-large';
